html,
body {
  padding: 0;
  background: hsl(180, 2%, 8%);
  margin: 0;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg: hsl(210, 3%, 15%);
  --bg-accent: hsl(216, 3%, 29%);
  --text-color: hsl(223, 10%, 87%);
  --nav-size: 60px;
  --border: 1px solid hsl(210, 4%, 29%);
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
