/* 
////// For this challenge ///////

- You will have to modify the HTML

- You can add new classes in the HTML
  if you need to

// Requirements
1. The headings in the first row must be
   a different color
2. The two .col at the bottom must go next
   to one another
3. The section at the bottom should have
   a dark background color and a different
   color of text
4. I've removed the "gap" that I created,
   so you'll have to add it back in

   */

.hero {
  font-family: Roboto;
  background: hsla(192, 36%, 21%, 1);
  padding: 6.5em 0;
  color: white;
  font-size: 1.35rem;
}

.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  /* border: 2px solid yellow; */
}

.row {
  /* display: flex => flex container */
  display: flex;

  /* can't use yet */
  /* gap: 100px; */
}

.col {
  /* these are now flex items */
  width: 100%;
}

.col + .col {
  margin-left: 30px;
}

.heroText {
  width: 60%;
  /* border: 1px solid pink; */
}

.heroText h1 {
  font-size: 3rem;
}

.heroText p {
  margin-bottom: 3em;
}

.threeCol {
  text-align: center;
  padding: 3em 0;
}

.threeCol h2 {
  color: #87629a;
}

.twoCol {
  text-align: center;
  padding: 3em 0;
  background-color: #136c72;
  color: white;
}

.btn {
  display: inline-block;
  background: hsl(184, 68%, 53%);
  font-family: Roboto;
  font-size: 1.35rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2em;
  padding: 0.75em 2em;
}

.btn:hover,
.btn:focus {
  background: hsla(184, 68%, 53%, 0.8);
}
