/* CSSTransition classes  */
.enter {
  transform: translateX(110%);
}
.enterActive {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.exit {
}
.exitActive {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
