/* DISCLAIMER: careful setting font-size via ems on a lot of nested elements...  
  compounding problem with em use rems instead!
*/

.call-to-action-h1 {
  font-size: 4rem;
  margin: 0.5em 0;
}

.call-to-action {
  background: linear-gradient(to left, #f46b45, #eea849);
  padding: 3em 0;
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-top: 150px;
  font-size: 1.25rem;
  text-align: center;
}

.call-to-action--small {
  font-size: 1rem;
}

.btn {
  display: inline-block;
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-decoration: none;

  padding: 1em 3em;
  margin: 0 1em;
}

.btn--small {
  font-size: 0.75rem;
}

.btn--lrg {
  font-size: 2rem;
}
