/* 
    TASKS
    - [X] limit text to midpoint
    - [X] on resize, fix text will overflow at bottom
 */

.container {
  background: hsl(190, 30%, 20%);
  color: white;

  width: 80%;
  margin: 0 auto;

  padding: 2em;

  /* TASK: on resize, fix text overflow at bottom */
  /* removal of height resets to responsive height */
  /* height: 300px; */
}

.introContent {
  /* TASK: limit to mid point */
  width: 50%;
}
