[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
utility = "*"
pylint = "*"
pycryptodome = "*"
flask = "*"
flask-cors = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
