[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
utility = "*"
pycryptodome = "*"
flask = "*"
flask-cors = "*"
requests = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
black = "*"
yapf = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
pycodestyle = "*"
pydocstyle = "*"

[requires]
python_version = "3.9"
